@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Nanum Myeongjo', serif;
}

img {
    display: block;
}

/* 공통지정 */
/* 헤더,섹션,푸터 */
header,
section,
footer {
    float: right;
    width: calc(100% - 200px);
}

/* 이미지 조절 */
.banner_list li img,
.best_item_list li img,
.item_list li img {
    width: 100%;
}

/* 호버시 밑줄 지정 */
fieldset a:hover,
.notice li:hover,
.items .sub li:hover,
.gnb ul li:hover,
.item_info p a:hover,
.foot_gnb li:hover {
    text-decoration: underline;
}

/* 글씨색 */
aside,
.notice_container>a,
.gnb ul li {
    color: rgb(12, 74, 12);
}

/* 공통지정 끝 */


/* 사이드바 */
aside {
    float: left;
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: rgb(248, 248, 231);
    padding: 20px;
}

form {
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
}

legend {
    font-weight: bold;
}

fieldset {
    border: 1px solid rgb(12, 74, 12);
}

fieldset a {
    font-size: 12px;
}


.items {
    line-height: 1.5;
}

.items .main>li>a {
    font-weight: 900;
}

.items .sub li {
    font-size: 14px;
    list-style: disc;
    list-style-position: inside;
}



/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    padding: 0 20px;
}

.notice_container>a {
    font-weight: bold;
    float: left;
}

.notice {
    width: 350px;
    position: relative;
}

.notice li {
    margin-left: 20px;
    border: 1px solid;
    color: black;
}
/* 공지 슬릭 버튼 */
.notice .slick-arrow {
    position: absolute;
    width: 7px;
    height: 4px;
    right: 0;
    text-indent: -9999px;
    border: none;
}

.notice .slick-arrow.slick-prev {
    background: url("/img/notice_up.png") no-repeat;
    top: 10px;
}

.notice .slick-arrow.slick-next {
    background: url("/img/notice_down.png") no-repeat;
    bottom: 10px;
}
/* 헤더 오른쪽 메뉴 */
.gnb ul li {
    float: left;
    margin-left: 20px;
    font-weight: bold;
}

.gnb ul li:first-child:hover {
    text-decoration: none;
}

/* 본문 */

section h2 {
    padding: 5vw 0 0 5vw;
}

.banner_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.best_item_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .best_item_list li{
    margin: 0 10px;
} */

.item_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding: 5vw;

}

.item_info {
    margin-top: 1vh;
    line-height: 1.5;
}

/* 푸터 */
footer {
    background-color: rgb(12, 74, 12);
    color: beige;
    font-size: 14px;
    padding: 3vw;
    display: flex;
    flex-direction: column;
}

.foot_info {
    margin: 10px 0;
}

.foot_gnb li {
    float: left;
    margin-right: 20px;
}